/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    /* line-height: 1; */
    /* border-bottom: 1px solid #e5e5e5; */
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.5rem;
    text-decoration: none;
  }
  
  .header-img {
    width: 10px;

  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    /* font-family: "Playfair Display", Georgia, "Times New Roman", serif; */
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    /* overflow-y: hidden; */
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    /* padding-top: .75rem; */
    /* padding-bottom: .75rem; */
    font-size: .875rem;
  }

  .link-secondary {
    text-decoration: none;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }

  /* Style code used to be in the main html
   */

       .accept-btn:hover {
      color: #000;
    }

    path {
        cursor: pointer;
    }
    div.tooltip {   
        position: absolute;         
        text-align: center;         
        padding: 12px;               
        font: 14px sans-serif;      
        background-color: "#fff"; 
        border-width: 1px;
        border-color: #555;    
        border-radius: 8px;
        font-weight: 700;        
        pointer-events: none;           
    }

    #cardhead::first-letter {
    text-transform:capitalize;
}
    #paper-abstract {
        /* overflow-y: scroll; */
    }
    .highlight {
        background-color: #fffacd;
    }

    .uccards {
      cursor: default;
    }

    .uccards:hover {
      border: solid #555 1px;
    }

    .accepted-card {
      font-size: 0.8rem;
    }

/* Styling for the popup container */
#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Styling for the popup message */
#popup-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Styling for the popup close button */
#popup-close {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.disclaimer {
  display: flex;
  padding: 1rem; /* p-4 translates to 1rem */
  margin: 1rem;
  background-color: #F9FAFB; 
  border-radius: 0.375rem; /* rounded-md translates to 0.375rem */
  align-items: center;
  gap: 1rem; /* gap-4 translates to 1rem */
  min-height: 4.4375rem;
  max-width: 50rem;
}


/* modal style */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 30px;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  text-align: center;
}

/* Close Button */
.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* Form */
#contributeModal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#contributeModal label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
}

input[type="text"]:focus {
  outline: none;
  background-color: #e5e5e5;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.option-button {
  background-color: #e9e9e9;
  color: #444444;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.option-button:hover {
  background-color: #444444;
  color: #ffffff;
}

.submit-button {
  background-color: #2ecc71;
  color: white;
  padding: 14px 30px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #27ae60;
}

/* spinner */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#articleModal label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}


#articleModal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

#articleModal .close:hover,
#articleModal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#articleModal input[type="text"],
#articleModal select {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#myModal #results {
  margin-top: 1rem;
}

#myModal #results p {
  font-size: 1rem;
  margin: 0.5rem 0;
}
